* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("https://images.unsplash.com/photo-1578662996442-48f60103fc96?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
  cursor: none;
}
.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: white;
}

.cursor-outline {
  width: 35px;
  height: 35px;
  border: 4px solid hsla(0, 0%, 100%, 0.5);
}

.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.container {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: flex-start;
}

.calculator {
  border: double 2px white;
  padding: 35px;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px 1px rgb(185, 184, 184);
  background: linear-gradient(
      55deg,
      rgba(97, 92, 92, 0.153),
      rgba(84, 81, 81, 0.174)
    ),
    url("https://images.unsplash.com/photo-1513569771920-c9e1d31714af?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}

button {
  width: 60px;
  height: 60px;
  border: none;
  margin: 8px;
  background: rgba(209, 166, 10, 0.771);
  border-radius: 50%;
  box-shadow: -8px -4px 14px 1px;
  font-size: 20px;
  font-weight: bolder;
  transition: all 0.3s;
}

button:hover {
  background-color: rgb(209, 166, 10);
  transform: scale(1.15);
  border-radius: 25px;
  cursor: none;
}
button:active {
  transform: scale(0.85);

  box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.984);
}

input {
  width: 300px;
  height: 60px;
  border: none;
  background: linear-gradient(
    55deg,
    rgba(126, 125, 125, 0.466),
    rgba(32, 30, 30, 0.41)
  );
  box-shadow: 1px -1px 20px black;
  margin: 15px 15px px 0px;
  padding: 10px;
  font-size: 35px;
  text-align: right;
  color: white;
}
#outputbox {
  width: 300px;
  height: 60px;
  border: none;
  background: linear-gradient(
    55deg,
    rgba(126, 125, 125, 0.466),
    rgba(32, 30, 30, 0.41)
  );
  box-shadow: 1px -1px 20px black;
  margin-bottom: 15px;
  padding: 1px;
  font-size: 35px;
  text-align: right;
  color: white;
}
input::placeholder {
  border: none;
  color: white;
}
.operators {
  background-color: rgba(6, 242, 163, 0.522);
  font-size: 22px;
}
.operators:hover {
  background-color: rgba(6, 242, 163);
}
.equal {
  background-color: rgba(12, 208, 9, 0.612);
  font-size: 30px;
}
.equal:hover {
  background-color: rgb(12, 208, 9);
}
.history {
  color: #ffffff;
  background: #6c6a6a7b;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.history h2 {
  margin: 0 0 10px 0;
  font-size: 25px;
}

.history ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.history li {
  padding: 5px;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

.history li:last-child {
  border-bottom: none;
}
